html {
    color: #21cfdb;
    text-align: center;
}

h1 {
    color: rgb(182, 185, 3);
    text-align: center;
}

body {
    background-color: rgb(189, 22, 119);
}

img {
    width: 50%;
    height: auto;
}

.fh5co-cover {
    background-size: cover;
    position: relative;
}